@import url(global-styles.css);

.footer-basic {
  padding: 40px 0;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 43px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1.5px solid #ccc;
  margin: 0 8px;
  color: inherit;
}

.footer-basic .social > a:hover {
  background-color: var(--black);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #aaa;
}

body.dark-mode .footer-basic {
  background-color: var(--black);
  color: var(--white);
}

body.dark-mode .footer-basic .social > a:hover {
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #25D366;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-logo {
  width: 35px;
  height: 35px;
}

