:root {
  --black: #000;
  --white: #fff;
  --orange: #ec6629;
  --red: #ff0000;
  --gray: #f5f5f5;
  --grid-gray: #f9f9f9;
  --grid-p-dark-gray: #555;
  --transition-speed: 0.4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray);
  color: var(--black);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

body.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.btn-color {
  background-color: var(--orange) !important;
}

.block {
  animation: appear var(--transition-speed) ease-in-out;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
