@import url(style.css);

.header__info {
  background-color: var(--black);
  text-align: end;
  overflow: hidden;
}

.header__info p {
  color: var(--white);
  font-weight: 700;
  padding: 10px 25px 0px 0;
  white-space: nowrap;
  animation: moveText 30s linear infinite;
}

.phone-number {
  font-weight: 900;
}

.container-navbar {
  background-color: var(--orange);
}

.navbar-logo img {
  height: 125px;
  width: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.navbar__nav {
  display: flex;
  align-items: center;
}

.navbar__nav > * {
  margin-left: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  margin-left: 40px;
  padding: 2.5% 0%;
  font-size: 1.1rem;
  font-weight: 800;

  background: linear-gradient(
    transparent 0%,
    transparent 90%,
    white 90%,
    white 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms, color 300ms;
}

.nav__link:hover {
  font-weight: 800;
  background-size: 100% 100%;
  background-position-x: left;
}

.nav__link a {
  color: var(--white);
  text-decoration: none;
  position: relative; 
}

.navbar__toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar__mobile-menu {
  display: none;
}

.dropdown-menu li a {
  color: var(--black);
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .nav__link {
    margin-left: 9px; 
    font-size: 0.9rem; 
  }
}

@media screen and (max-width: 608px) {
  .nav__list {
    display: none;
  }

  .navbar__nav > * {
    margin-left: 20px;
  }

  .navbar__mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: -25px;
    background-color: var(--orange);
    width: 110%;
    z-index: 1;
    transform: translateY(0%);
    /* transition: all 0.5s ease; */
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .nav__link-mobile {
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
    padding: 20px;
    margin-bottom: 20px;
  }

  .nav__link-mobile a {
    color: var(--white);
    text-decoration: none;
    position: relative;
  }

  .nav__link-mobile a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0;
  }

  .nav__link-mobile:hover a::after {
    opacity: 1;
  }

  .navbar__toggle-btn {
    display: flex;
  }

  .navbar__toggle-btn img {
    height: 28px;
    margin: 0 10px;
  }

  .shifted {
    transform: translateY(260px);
    transition: all 0.5s ease-in-out;
  }
  .dropdown-menu li a {
    color: var(--black);
  }
}
