@import url(global-styles.css);

.header__info {
  background-color: var(--black);
  text-align: end;
  overflow: hidden;
}

.header__info p {
  color: var(--white);
  font-weight: 700;
  padding: 0.5% 5px 0px 0;
  white-space: nowrap;
  animation: moveText 15s linear infinite;
}

.phone-number {
  font-weight: 900;
}

.container-navbar {
  background-color: var(--orange);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.3s; /* Transición suave */
}

.navbar-logo img {
  height: 125px;
  width: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.navbar__nav {
  display: flex;
  align-items: center;
}

.navbar__nav > * {
  margin-left: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  margin-left: 40px;
  padding: 2.5% 0%;
  font-size: 1.1rem;
  font-weight: 800;

  background: linear-gradient(
    transparent 0%,
    transparent 90%,
    white 90%,
    white 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms, color 300ms;
}

.nav__link:hover {
  font-weight: 800;
  background-size: 100% 100%;
  background-position-x: left;
}

.nav__link.no-hover-effect {
  background: none !important;
  transition: none;
}

.nav__link.no-hover-effect:hover {
  background-size: 0% 100%;
}


.nav__link a {
  color: var(--white);
  text-decoration: none;
  position: relative; 
}

.navbar__toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar__mobile-menu {
  display: none;
}

.dropdown-menu li a {
  color: var(--black);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre el logo y los logos de empresas */
}

.navbar-empresas {
  display: flex;
  flex-wrap: wrap; /* Si hay poco espacio, que bajen de línea */
  gap: 0.5rem; /* Espacio entre los logos */
}

.navbar-empresas img {
  height: 20px; /* Ajustá el tamaño que más te guste */
  object-fit: contain;
  background-color: white;
}


@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .navbar__nav {
    display: none;
  }

  .navbar__toggle-btn {
    display: flex;
  }

  .nav__link {
    margin-left: 9px; 
    font-size: 0.9rem; 
  }
  .navbar-empresas {
    display: none; /* O podrías moverlos a otro lado si preferís */
  }
  .empresas-header {
    display: inline-block; /* Visible en pantallas grandes */
    padding: 10px 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .logo-container img {
    max-height: 50px; /* Ajustá según el diseño */
    object-fit: contain;
  }
}

@media screen and (max-width: 608px) {
  .nav__list {
    display: none;
  }

  .navbar__nav > * {
    margin-left: 20px;
  }

  .navbar__mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -25px;
    background-color: var(--orange);
    width: 110%;
    z-index: 1;
    transform: translateY(0%);
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .nav__link-mobile {
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
    padding: 20px;
    margin-bottom: 20px;
  }

  .nav__link-mobile a {
    color: var(--white);
    text-decoration: none;
    position: relative;
  }

  .nav__link-mobile a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0;
  }

  .nav__link-mobile:hover a::after {
    opacity: 1;
  }

  .navbar__toggle-btn {
    display: flex;
  }

  .navbar__toggle-btn img {
    height: 28px;
    margin: 0 10px;
  }

  .dropdown-menu li a {
    color: var(--black);
  }
}

#mobile-menu {
  transition: all 0.2s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none; 
}

#mobile-menu.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav-item .nav-link {
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar-nav {
  align-items: center;
  gap: 1%;
}


@media screen and (max-width: 1550px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
  .nav-item .nav-link {
    font-size: 0.9rem; /* Reducimos el tamaño */
    padding: 5px 10px;
  }
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Ajusta el padding según sea necesario */
  background: transparent;
  border: none;
}

.cart-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.navbar-nav .nav-item .nav-link[href] {
  text-decoration: underline; 
}


.group {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-nav .nav-item .nav-link[href="#babetas"] {
  width: 120px;
}
.navbar-nav .nav-item .nav-link[href="#curvas"] {
  width: 170px;
}

.navbar-nav .nav-item .nav-link[href="#canios_grampas"] {
  position: relative; 
  right: 20px; 
}

.navbar-nav .nav-item .nav-link[href="#caballetes_conversas"] {
  width: 90px; 
  position: relative; 
  left: 12px;

}

.container-navbar {
  overflow: visible; /* Asegura que el dropdown no se corte */
}

.navbar {
  overflow: visible; /* También importante */
}

.container-fluid {
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.move-input {
  margin-left: 50px;
}

#suggestionsList {
  top: 100%;
  background: white;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#mobileSuggestionsList {
  max-height: 300px;  /* Limita la altura máxima */
  overflow-y: auto;   /* Agrega scroll si las opciones exceden la altura */
  position: absolute;
  width: 100%;
  top: 100%;  /* Asegura que las sugerencias se muestren debajo del input */
  left: 0;
  z-index: 3;  /* Asegura que las sugerencias estén por encima de otros elementos */
  background-color: white;  /* Fondo blanco para las sugerencias */
  border-radius: 0 0 4px 4px;  /* Bordes redondeados solo en la parte inferior */
}

@media screen and (max-width: 768px) {

  .header__info p {
  padding: 1.2% 15px 0px 0;
  }

  .navbar__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar__mobile-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar__nav {
    display: none; /* ocultamos el resto del nav en mobile */
  }

  .navbar-logo img {
    height: 80px; /* Ajustá esto si el logo se ve muy grande */
    width: auto;
  }
}

.navbar__toggle-btn {
  display: none;
}

@media screen and (max-width: 608px) {
  .navbar__toggle-btn {
    display: flex;
  }
}