/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 1rem;
}

.google-reviews-container {
  margin: 1% 2%;
}

.google-reviews-container h3 {
  margin-bottom: 2%;
  text-align: center;
}

.card {
  flex: 0 0 calc((100% - 4rem) / 4);
  scroll-snap-align: start;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body.dark-mode .card p {
  color: var(--black);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.pointer {
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .card {
      flex: 0 0 calc((100% - 3rem) / 3);
  }
}

@media screen and (max-width: 900px) {
  .card {
      flex: 0 0 calc((100% - 2rem) / 2);
  }
}

@media screen and (max-width: 600px) {
  .card {
      flex: 0 0 90%;
  }
  .scroll-container {
      padding: 0;
  }
}

.left-index {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.right-index {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
